{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Insights</title>
    <link rel="stylesheet" href="{% static 'cancer_app/css/about.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" href="{% static 'cancer_app/images/cancer_pic.png' %}" style="width: fit-content;">
    <style>
        body{
            overflow-x: hidden;
        }
    #test-btn{
        margin-top: 40px;
        font-family: 'lora', serif;
        width: 50%;  
        border-radius: 5px; 
        filter: drop-shadow(0px 2px 2px rgba(212, 106, 146, 1.0));
        outline: none;
        padding: 10px;
        border: 1px solid #D46A92;
        color: #D46A92 !important;
        background: #FEFAFA;
    }
    #test-btn:hover{
        background: linear-gradient(180deg, #D46A92 0%, #F39DB6 100%);
        color: #fff !important; 
        border: none; 
    }
    .banner-paragraph{
    font-family: 'Lora', serif;
    color: #F39DB6;
    }
    </style>
</head>

<body>
    <!--Navbar-->
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
            <a class="navbar-brand" href="{% url 'landingpage' %}">
                <img id="logo" src="{% static 'cancer_app/images/Logo.svg' %}" width="60%">
            </a>
            <button style="padding-right: 3vh; outline: none; border: none;" class="navbar-toggler custom-toggler"
                type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i Style="color:#D46A92;" class="fa fa-bars"></i>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li>
                        <h5 style="color: #D46A92; font-weight: bold; font-family: 'Playfair Display', serif;"
                            class="mr-5 mt-2">{{request.user}}</h5>
                    </li>
                    <li>
                        <a class="nav-link mr-3" href="{% url 'home' %}">Home</a>
                    </li>
                    <li>
                        <a class="nav-link mr-3" href="{% url 'diagnosis' %}">Diagnosis</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'logout' %}"><button id="nav-btn" class="btn" type="submit">Logout</button></a>
                    </li>
            </div>
        </div>
    </nav>
    <section class="analyse">
        <div class="container">
            <div class="text-center">
                <h1 class="header-text mt-5">More Insights</h1>
            </div>
            <div>
                <div class="container mt-3">
                    <div class="container">
                        <p class="banner-paragraph" style="font-size: large;">From our analysis, the followinhg features were key in the risk assessment process:</p>
                        <h4 style="font-weight: bold; color: #D46A92;">History of Breast Cancer in the Patient</h4>
                        <p class="banner-paragraph" style="font-size: large;">Women who have had breast cancer are more likely to get breast cancer a second time. Some non-cancerous breast diseases such as atypical hyperplasia or lobular carcinoma in situ are associated with a higher risk of getting breast cancer.</p>
                        <h4 style="font-weight: bold; color: #D46A92;">Body Mass Index</h4>
                        <p class="banner-paragraph" style="font-size: large;"> After menopause, being overweight or obese raises the risk of developing breast cancer in women. Increased estrogen levels will raise the risk of breast cancer in women who have fatty breasts. In addition, women who are overweight have higher insulin levels which has been attributed to some tumors, including breast cancer.</p>
                        <h4 style="font-weight: bold; color: #D46A92;">Breast Density</h4>
                        <p class="banner-paragraph" style="font-size: large;">Dense breasts have more connective tissue than fatty tissue, which can sometimes make it hard to see tumors on a mammogram. Women with dense breasts are more likely to get breast cancer.</p>
                        <h4 style="font-weight: bold; color: #D46A92;">Age of the woman at first birth</h4>
                        <p class="banner-paragraph" style="font-size: large;">The age at a woman at her first birth is another risk factor. Women who give birth before 29 are at a lower risk of getting breast cancer than women who give birth after 29 or do not have children.</p>
                        <h4 style="font-weight: bold; color: #D46A92;">History of relatives with breast cancer</h4>
                        <p class="banner-paragraph mb-5" style="font-size: large;">A woman’s risk for breast cancer is higher if she has a mother, sister, or daughter (first-degree relative) or multiple family members on either her mother’s or father’s side of the family who have had breast or ovarian cancer. Having a first-degree male relative with breast cancer also raises a woman’s risk.</p>
                    </div>
                </div>
            </div>    
        </div>
    </section>
    <script src="../js/homepage.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.6.0/umd/popper.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
</body>

</html>